In [44]:
import os
import pandas as pd

In [54]:
# Specify the directory where the CSV file is located
directory = os.getcwd()

# List all files in the directory
files = os.listdir(directory)

# Iterate over the files
for file in files:
    # Check if the file is a CSV and its name is not "data.csv"
    if file.endswith('.csv') and file != 'data_raw.csv' and file != 'data.csv':
        # Construct full file path
        old_file_name = os.path.join(directory, file)
        new_file_name = os.path.join(directory, 'data_raw.csv')
        
        # Rename the file
        if os.path.exists(old_file_name):
            # Remove the new file if it already exists
            if os.path.exists(new_file_name):
                os.remove(new_file_name)
    
            os.rename(old_file_name, new_file_name)
        
        # Print a message indicating the file has been renamed
        print(f'Renamed "{file}" to "data_raw.csv"')
        break  # Assuming there's only one CSV file to rename

# Verify the renaming by listing files in the directory
os.listdir(os.getcwd())

Renamed "11521100300010200001_Индексы_потребительских_цен_на_товары_и_услуги.csv" to "data_raw.csv"

['data_download.ipynb', 'data_process.ipynb', 'data_raw.csv']

In [55]:
file_path = os.path.join(os.getcwd(), "data_raw.csv")

# Attempting to read the CSV file again with a specified encoding to handle potential encoding issues

df = pd.read_csv(file_path, encoding='cp1251')

# Display the first few rows of the dataframe to understand its structure
df.head()

,Unnamed: 0,11521100300010200001 Индексы потребительских цен на товары и услуги
0,январь 2016 г.,"109,77"
1,февраль 2016 г.,"108,06"
2,март 2016 г.,"107,27"
3,апрель 2016 г.,"107,25"
4,май 2016 г.,"107,31"

In [56]:
from datetime import datetime

# Create a dictionary to map Cyrillic month names to month numbers
month_map = {
    'январь': '01',
    'февраль': '02',
    'март': '03',
    'апрель': '04',
    'май': '05',
    'июнь': '06',
    'июль': '07',
    'август': '08',
    'сентябрь': '09',
    'октябрь': '10',
    'ноябрь': '11',
    'декабрь': '12'
}

# Function to convert Cyrillic date to dd.mm.yyyy format
def convert_date(cyrillic_date):
    # Split the date string to extract month and year
    parts = cyrillic_date.split()
    month = month_map[parts[0]]
    year = parts[1]
    # Create a date string in dd.mm.yyyy format
    formatted_date = f'01.{month}.{year}'
    formatted_date = pd.to_datetime(formatted_date, format='%d.%m.%Y')
    return formatted_date

# Apply the conversion function to the first column of the dataframe
df.iloc[:, 0] = df.iloc[:, 0].apply(convert_date)

# Rename the column
df.rename(columns={df.columns[0]: 'date'}, inplace=True)
df.rename(columns={df.columns[1]: 'CPI'}, inplace=True)

# Replace comma with period
df['CPI'] = df['CPI'].str.replace(',', '.')

# Convert the column to numeric
df['CPI'] = pd.to_numeric(df['CPI'], errors='coerce')

# Display the updated dataframe
df.head()

        date     CPI
0 2016-01-01  109.77
1 2016-02-01  108.06
2 2016-03-01  107.27
3 2016-04-01  107.25
4 2016-05-01  107.31

In [57]:
df.dtypes

date    datetime64[ns]
CPI            float64
dtype: object

In [58]:
df.to_csv('data.csv', index=False)